<h3>Restaurants</h3>

<%= link_to "Add a new Restaurant", new_restaurant_path %>
<% @restaurants.each do |restaurant| %>
<ul>
<h3><%= link_to restaurant.name, restaurant_path(restaurant) %></h3>
</ul>
<% end %>
